@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

body {
	background-color: #1ca6d9;
}

canvas {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	border: 2px solid #000;
}

.title {
	text-align: center;
	font-family: 'MuseoModerno', cursive;
	font-size: 50px;
	margin: 20px;
}
